{% load static %}
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="{% url 'dashboard' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Interface</div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Notes
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="{% url 'add_notes' %}">Add Notes</a>
                    <a class="nav-link" href="{% url 'manage_notes' %}">Manage Notes</a>
                </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                My Accounts
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion">
                    <a class="nav-link" href="{% url 'profile' %}" aria-expanded="false" >
                        Profile
                        
                    </a>
                   
                    <a class="nav-link" href="{% url 'change_password' %}"   aria-expanded="false">
                       Setting
                    
                    </a>
                    <a class="nav-link" href="{% url 'logout' %}" aria-expanded="false" >
                        Logout
                       
                     </a>
                 
                </nav>
            </div>
            <div class="sb-sidenav-menu-heading">Addons</div>
           
            <a class="nav-link" href="{% url 'search_notes' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
                Search
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        NSS User Panel
    </div>
</nav>